body {
    background-color: #000;
    font-family: 'briller', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 69px;
    font-family: briller, sans-serif;
    font-style: normal;
    font-weight: 900;
}

h2 {
    font-family: 'briller', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    letter-spacing: 3.36px;
    color: #FFFFFF;
}

h3 {
    font-size: 32px;
}

p {
    font-family: ocr-a-std, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: #FFFFFF;
    ;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: none;
}


#container {
    margin: 120px auto;
    width: 1100px;
    background-color: #000;
}

#header {
    height: 138px;
    width: 542px;
    background-size: contain;
    background-color: #000;
    background-image: url(logo.svg);
    left: 50%;
    top: 15%;
    margin-left: -271px;
    position: absolute;
    z-index: 20;
}

#product {
    position: relative;
    height: 940px;
    margin: 250px auto;
}

#product div {
    position: absolute;
}

#sticker {
    background-image: url(sticker.svg);
    background-repeat: no-repeat;
    height: 410px;
    width: 410px;
    top: -15px;
    right: 15px;
}

#sticker-gradient {
    background: radial-gradient(#10FE01, #000 165px);
    height: 420px;
    width: 420px;
    top: -25px;
    right: 20px;
}

#concrete {
    height: 775px;
    width: 810px;
    background-color: #000;
    background-image: url(/assets/Concrete_relic@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    margin-left: -405px;
    margin-top: 150px;
}

#ar-button {
    width: 830px;
    height: 90px;
    background: #FFFFFF;
    background: rgba(255, 255, 255, 1);
    border-radius: 42px;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    margin: 70px auto;
    font-family: ocr-a-std, monospace;
    font-style: normal;
    font-weight: 400;
}

#donate-button {
    width: 830px;
    height: 90px;
    background: #000;
    border: 5px solid white;
    border-radius: 42px;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    margin: 70px auto;
}

#donate-button:hover {
    background: #04FE01;
}

#button-contents {
    line-height: 90px;
    text-align: center;
    color: #000;
}

#donate-button-contents {
    line-height: 90px;
    text-align: center;
    font-family: ocr-a-std, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    color: #FFFFFF;
}

#ar {
    height: 34px;
    position: relative;
    margin-right: 10px;
    top: 10px;

}

.section-contents {
    width: 880px;
    margin: 0 auto;
}

.arrows {
    left: 0;
    color: #95F33A;
    width: 100%;
    /* each letter will be 5% of the viewport width (vw) */
    font-size: 5vw;
    line-height: 1;
    /* this will stop the long text from causing scroll bars by hanging
  outside of the arrows box area */
    overflow: hidden;
    /* our mix blend mode allows us to mix the current layer's style/colors with that
   of what's behind it to create some really cool effects */
    mix-blend-mode: difference;
}

@keyframes moveLeft {
    0% {
        transform: translateX(-610px);
    }

    100% {
        transform: translateX(-3000vw);
    }
}

.arrows span {
    /* this is the shorthand (brief) version of the animation css rule */
    animation: moveLeft 400s infinite;
    /* this will ensure the text stays all on the same line */
    white-space: nowrap;
    /* our span is inline by default, so here we tell it to be block */
    display: block;
    /* this will let us add our animation  */
    position: relative;
    font-family: briller, sans-serif;
    font-style: normal;
    font-weight: 900;
}

#power-caption {
    font-family: briller, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 106px;
    line-height: 113.2px;
    letter-spacing: 6.36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#power-icon {
    height: 640px;
    margin-top: 48px;
    background-image: url(/assets/power.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}

#footer {
    height: 250px;
    padding-top: 158px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#contact {
    float: left;
    display: block;
    width: 200px;
    max-height: 180px;
    margin: 0 auto;
    text-align: center;
}

#smiley {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 0 auto;
    background-image: url(/assets/smiley.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}

#socials {
    text-align: left;
    max-width: 160px;
    margin: 0 auto;
    font-size: 14px;
    margin-left: -5px;
}

#player {
    float: left;
    padding-left: 40px;
    display: inline-block;
    width: -moz-calc(100% - 240px);
    width: -webkit-calc(100% - 240px);
    width: calc(100% - 240px);
    height: 100%;
}
