body {
    background-color: #000;
    font-family: 'briller', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 69px;
    font-family: briller, sans-serif;
    font-style: normal;
    font-weight: 900;
    margin: 10px 0 0;
}

h2 {
    font-family: 'briller', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    letter-spacing: 3.36px;
    color: #FFFFFF;
}

h3 {
    font-size: 43px;
    font-family: 'briller', sans-serif;
    font-style: normal;
    font-weight: 900;
}

p {
    font-family: ocr-a-std, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: #FFFFFF;
    ;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
    padding-left: none;
}

.glow:hover {}

#container {
    margin: 120px auto;
    background-color: #000;
}

@media screen and (max-width: 414px) {
    #container {
        margin: 45px auto;
    }
}

#header {
    width: 100%;
    height: 138px;
}

@media screen and (max-width: 414px) {
    #header {
        height: 50px;
    }
}

#ws-logo {
    height: 138px;
    background-size: contain;
    background-image: url(logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 20;
}

@media screen and (max-width: 414px) {
    #header {
        height: 50px;
    }
}

#product {
    position: relative;
    height: 940px;
    margin: 0px auto 100px auto;
}

#product div {
    position: absolute;
}

#pname {
    font-family: 'briller', sans-serif;
    font-style: normal;
    font-weight: 400;
}

#sticker {
    background-image: url(sticker.svg);
    background-repeat: no-repeat;
    height: 410px;
    width: 410px;
    right: -90px;
}

@media screen and (max-width: 414px) {
    #sticker {
        height: 150px;
        width: 150px;
    }
}

#sticker-gradient {
    background: radial-gradient(#10FE01, #000 165px);
    height: 420px;
    width: 420px;
    right: -90px;
}

@media screen and (max-width: 414px) {
    #sticker-gradient {
        background: radial-gradient(#10FE01, #000 70px);
        height: 155px;
        width: 155px;
    }
}

#concrete {
    height: 775px;
    width: 810px;
    background-image: url(/assets/Concrete_relic@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    margin-left: -370px;
    margin-top: 220px;
}

@media screen and (max-width: 414px) {
    #concrete {
        height: 300px;
        width: 280px;
        margin-left: -140px;
        margin-top: 0px;
    }
}

#prod-description {
    font-size: 32px;
}

#terms {
    font-size: 18px;
    line-height: 28px;
}

#ar-button {
    width: 830px;
    height: 90px;
    background: #FFFFFF;
    background: rgba(255, 255, 255, 1);
    border-radius: 42px;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    margin: 0px auto;
    font-family: ocr-a-std, monospace;
    font-style: normal;
    font-weight: 400;
}

#donate-button {
    width: 830px;
    height: 90px;
    background: radial-gradient(circle at left, #04FE01, #F8EF22);
    border: 5px solid black;
    border-radius: 42px;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    margin: 70px auto;
}

#donate-button:hover {
    background: #000;
    border: 5px solid white;
}

#button-contents {
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 27px;
}

#donate-button-contents {
    line-height: 90px;
    text-align: center;
    font-family: briller;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    color: #000;
}

#donate-button-contents:hover {
    color: #fff;
}

#ar {
    height: 64px;
    position: relative;
    margin-right: 10px;
    top: 10px;

}

.section-contents {
    width: 940px;
    margin: 0 auto;
}

.section-wide {
    width: 980px;
    margin: 0 auto;
}

.organization {
    margin-top: 120px;
    height: 90vh;
}

.organization h3 {
    font-weight: 700;
}

.arrows {
    left: 0;
    color: #95F33A;
    width: 100%;
    font-size: 5vw;
    line-height: 1;
    overflow: hidden;
    mix-blend-mode: difference;
}

@keyframes moveLeft {
    0% {
        transform: translateX(-610px);
    }

    100% {
        transform: translateX(-3000vw);
    }
}

.arrows span {
    animation: moveLeft 400s infinite;
    white-space: nowrap;
    display: block;
    position: relative;
    font-family: briller, sans-serif;
    font-style: normal;
    font-weight: 900;
}

.scroll {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: scroll 32s linear infinite;
}

@keyframes scroll {
  from { right: 0; }
  to { right: -100%; }
}

.swish {
    color: #95F33A;
    font-size: 5vw;
    font-family: briller, sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
}

.cap {
    color: #95F33A;
    font-size: 5vw;
    font-family: briller, sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
}

/*

.swish {
    left: 0;
    color: #95F33A;
    width: 100%;
    font-size: 5vw;
    font-family: briller, sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    overflow: hidden;
    mix-blend-mode: difference;
}

@keyframes moveRight {
    0% {
        right: 0;
    }

    100% {
        right: -100%;
    }
}

.swish span {
    animation: moveRight 50s linear infinite;
    white-space: nowrap;
    display: block;
    position: relative;
    float: right;
    width: 50%;
}
*/
.hr {
    width: 100%;
    height: 2px;
    background: #fff;
}

#power {
    max-width: 980px;
    margin: 0 auto;
}

#power-caption {
    font-family: briller, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 106px;
    line-height: 113.2px;
    letter-spacing: 6.36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#power-icon {
    height: 640px;
    margin-top: 48px;
    background-image: url(/assets/power.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}

#footer {
    height: 90vh;
    padding: 158px 0 80px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#contact {
    float: left;
    display: block;
    width: 200px;
    max-height: 180px;
    margin: 0 auto;
    text-align: center;
}

#smiley {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 0 auto;
    background-image: url(/assets/smiley.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}

#socials {
    text-align: left;
    max-width: 160px;
    margin: 0 auto;
    font-size: 14px;
    margin-left: -5px;
}

#player {
    float: left;
    padding-left: 40px;
    display: inline-block;
    width: -moz-calc(100% - 240px);
    width: -webkit-calc(100% - 240px);
    width: calc(100% - 240px);
    height: 100%;
    max-height: 180px;
}