body {
    background-color: #000;
    font-family: 'briller', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 69px;
    font-family: briller, sans-serif;
    font-style: normal;
    font-weight: 900;
    margin: 10px 0 0;
}

@media screen and (max-width: 414px) {
    h1 {
        font-size: 28px;
    }
}

h2 {
    font-family: 'briller', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    letter-spacing: 3.36px;
    color: #FFFFFF;
}

@media screen and (max-width: 414px) {
    h2 {
        font-size: 24px;
    }
}

h3 {
    font-size: 43px;
    font-family: 'briller', sans-serif;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -0.05em;
}

@media screen and (max-width: 414px) {
    h3 {
        font-size: 22px;
    }
}

p {
    font-family: ocr-a-std, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 1.3em;
    color: #FFFFFF;
}

@media screen and (max-width: 414px) {
    p {
        font-size: 14px
    }
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
    padding-left: none;
}

.glow:hover {}

#container {
    margin: 120px auto;
    background-color: #000;
}

@media screen and (max-width: 414px) {
    #container {
        margin: 45px auto;
    }
}

#header {
    width: 100%;
    height: 138px;
}

@media screen and (max-width: 414px) {
    #header {
        height: 50px;
        margin: auto;
    }
}

#ws-logo {
    height: 138px;
    background-size: contain;
    background-image: url(logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 20;
}

@media screen and (max-width: 414px) {
    #ws-logo {
        height: 50px;
    }
}

#product {
    position: relative;
    height: 940px;
    margin: 0px auto 100px auto;
}

@media screen and (max-width: 414px) {
    #product {
        height: 340px;
        margin-bottom: 40px;
    }
}

#product div {
    position: absolute;
}

#pname {
    font-family: 'briller', sans-serif;
    font-style: normal;
    font-weight: 400;
}

#sticker {
    background-image: url(sticker.svg);
    background-repeat: no-repeat;
    height: 410px;
    width: 410px;
    right: -90px;
}

@media screen and (max-width: 414px) {
    #sticker {
        height: 150px;
        width: 150px;
        right: 0px;
    }
}

#sticker-gradient {
    background: radial-gradient(#10FE01, #000 165px);
    height: 420px;
    width: 420px;
    right: -90px;
}

@media screen and (max-width: 414px) {
    #sticker-gradient {
        background: radial-gradient(#10FE01, #000 70px);
        height: 155px;
        width: 155px;
        right: 0px;
    }
}

#concrete {
    height: 775px;
    width: 810px;
    background-image: url(/assets/Concrete_relic@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    margin-left: -370px;
    margin-top: 220px;
}

@media screen and (max-width: 414px) {
    #concrete {
        height: 300px;
        width: 280px;
        margin-left: -140px;
        margin-top: 75px;
    }
}

#prod-description {
    font-size: 32px;
}

@media screen and (max-width: 414px) {
    #prod-description {
        font-size: 17px;
        margin: 4px auto;
    }
}

.terms {
    font-size: 18px;
    line-height: 28px;
    max-width: 400px;
}

@media screen and (max-width: 414px) {
    .terms {
        font-size: 10px;
        line-height: 1.3em;
    }
}

.section-contents.terms {
    width: 760px;
    max-width: 90%;
}

@media screen and (max-width: 414px) {
    .section-contents.terms {
        width: 360px;
    }
}

.button {
    width: 830px;
    height: 90px;
    max-width: 80%;
    border-radius: 42px;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
}

@media screen and (max-width: 414px) {
    .button {
        width: 340px;
        height: 45px;
    }
}

.ar-button {
    background: #FFFFFF;
    background: rgba(255, 255, 255, 1);
    margin: 10px auto 0;
    font-family: ocr-a-std, monospace;
    font-style: normal;
    font-weight: 400;
}

.donate-button {
    background: radial-gradient(circle at left, #04FE01, #F8EF22);
    border: 5px solid black;
    margin: 70px auto;
}

@media screen and (max-width: 414px) {
    .donate-button {
        margin: 20px auto;
    }
}

.donate-button:hover {
    background: #000;
    border: 5px solid white;
}

#button-contents {
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 27px;
}

@media screen and (max-width: 414px) {
    #button-contents {
        font-size: 12px;
        height: 45px;
        line-height: 45px;
    }
}

#donate-button-contents {
    line-height: 90px;
    text-align: center;
    font-family: briller;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    color: #000;
}

@media screen and (max-width: 414px) {
    #donate-button-contents {
        line-height: 45px;
        font-size: 12px;
    }
}

#donate-button-contents:hover {
    color: #fff;
}

#ar {
    height: 58px;
    position: relative;
    margin-right: 10px;
    top: 10px;

}

@media screen and (max-width: 414px) {
    #ar {
        height: 29px;
    }
}

.section-contents {
    max-width: 940px;
    margin: 0 auto;
}

@media screen and (max-width: 414px) {
    .section-contents {
        max-width: 414px;
    }
}

.section-wide {
    max-width: 980px;
    margin: 0 auto;
}

@media screen and (max-width: 414px) {
    .section-wide {
        max-width: 414px;
    }
}

@media screen and (max-width: 414px) {
    .charities h3 {
        font-size: 14px;
        letter-spacing: -.03em;
    }
}

.organization {
    margin-top: 120px;
    height: 90vh;
}

@media screen and (max-width: 414px) {
    .organization {
        margin-top: 26px;
        height: auto;
    }
}

.organization h3 {
    font-weight: 700;
}

.arrows {
    left: 0;
    color: #95F33A;
    width: 100%;
    font-size: 5vw;
    line-height: 1;
    overflow: hidden;
    mix-blend-mode: difference;
}

@keyframes moveLeft {
    0% {
        transform: translateX(-610px);
    }

    100% {
        transform: translateX(-3000vw);
    }
}

.arrows span {
    animation: moveLeft 400s infinite;
    white-space: nowrap;
    display: block;
    position: relative;
    font-family: briller, sans-serif;
    font-style: normal;
    font-weight: 900;
}

.scroll {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 200px;
    overflow-x: hidden;
}

@media screen and (max-width: 414px) {
    .scroll {
        height: 60px;
    }
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: scroll 32s linear infinite;
}

@keyframes scroll {
    from {
        right: 0;
    }

    to {
        right: -100%;
    }
}

.swish {
    color: #95F33A;
    font-size: 5vw;
    font-family: briller, sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
}

.cap {
    color: #95F33A;
    font-size: 5vw;
    font-family: briller, sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
}

.hr {
    width: 100%;
    height: 2px;
    background: #fff;
}

#power {
    max-width: 980px;
    margin: 0 auto;
    min-height: 100vh;
}

@media screen and (max-width: 414px) {
    #power {
        max-width: 95%;
    }
}

#power-caption {
    font-family: briller, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 106px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (max-width: 414px) {
    #power-caption {
        font-size: 44px;
    }
}

@media screen and (max-width: 320px) {
    #power-caption {
        font-size: 40px;
    }
}

#power-icon {
    height: 640px;
    margin-top: 48px;
    background-image: url(/assets/power.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}

@media screen and (max-width: 414px) {
    #power-icon {
        height: 340px;
        margin-top: 24px;
    }
}

#footer {
    height: 100vh;
    padding: 158px 0 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 414px) {
    #footer {
        padding: 0;
    }
}

#contact {
    float: left;
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

#smiley {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 0 auto;
    background-image: url(/assets/smiley.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}

#socials {
    text-align: center;
    max-width: 160px;
    margin: 30px auto;
    font-size: 26px;
    display: flex;
}

@media screen and (max-width: 414px) {
    #socials {
        text-align: center;
        margin: 30px auto;
        width: 120px;
    }
}

.social-icons {
    display: inline;
    flex: 1;
}

.social-icons:nth-child(-n+2) {
    margin-right: 10px;
}